* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  transition: all 1s ease-in-out;
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
  
}

.yellow {
  color: rgb(177, 30, 30);
}
.blue {
  color: #002d4b;
}

.bg-blue{
  background-color: #002d4b;
}
.grey {
  /* color: rgb(95, 94, 94); */
  color:#333333;
}
.bg {
  background-color: #fcf8f2;
}
.loader {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: white ;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.disappear {
  animation: vanish 1s forwards;
}
@keyframes vanish {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
.line{
  width: 100%;
  height: 2px;
  background-color: rgb(230, 229, 229);
  margin-bottom: 1rem;
  padding: 0 !important;
}
.dot{
  width: 10rem;
  background-color:rgb(177, 30, 30) ;
  height: 2px;
}
/* From Uiverse.io by vinodjangid07 */ 
#checkbox {
  display: none;
}
.toggle {
  position: relative;
  width: 35px;
  height: 35px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition-duration: .5s;
  background-color: #fff;
}

.bars {
  width: 100%;
  height: 3px;
  background-color: #4581b5;
  border-radius: 4px;
}

#bar2 {
  transition-duration: .8s;
}

#bar1,#bar3 {
  width: 70%;
}

#checkbox:checked + .toggle .bars {
  position: absolute;
  transition-duration: .5s;
}

#checkbox:checked + .toggle #bar2 {
  transform: scaleX(0);
  transition-duration: .5s;
}

#checkbox:checked + .toggle #bar1 {
  width: 100%;
  transform: rotate(45deg);
  transition-duration: .5s;
}

#checkbox:checked + .toggle #bar3 {
  width: 100%;
  transform: rotate(-45deg);
  transition-duration: .5s;
}

#checkbox:checked + .toggle {
  transition-duration: .5s;
  transform: rotate(180deg);
}
/* mobile view */
@media screen and (max-width: 768px) {
  .border-blue{
  border: 1px solid #002d4b ;
}
  .load-img {
    /* width: 19rem; */
    height: 10rem !important;
    height: 35vh;
    object-fit: cover;
  }
  /* header styling */
  .navbar {
    width: 100%;
    padding: 1rem 0.9rem !important;
    z-index: 999;
    background-color:white !important ;
  }
  .navbar-nav {
    width: 100% !important;
  }
  .navbar-toggler{
  margin-left: 3rem;
  }
  .desktop-nav{
    display: none !important;
  }
  .nav-item {
    text-align: center;
    padding: 0.5rem;
    border-bottom: 1px solid gray;
  }
  
  .navbar-nav {
    flex: 0.5;
    background-color: white;
    padding: 0.5rem;
    margin-top: 2rem;
  }
  .toogler{
    margin-left: 4rem !important;
  }
  .subscribe-btn {
    padding: 0.5rem;
    background-color: rgb(177, 30, 30);
    border: none;
    color: white;
    font-size: 1.1rem;
    width: 100%;
  }
  .dropdown-menu {
    font-size: 0.7rem;
    z-index: 999;
  }
  /* hero-section styling */

  .banner-1 {
    height: 35rem;
    padding: 9rem 3rem !important;
    background-image: url("../images/pexels-umaraffan499-87236.jpg");
    background-color: #0f020299;
    background-blend-mode: overlay;
    background-size: cover;
    background-position:center;
    text-align: center;
  }
  .banner-2 {
    height: 35rem;
    padding: 9rem 3rem !important;
    background-image: url("../images/container-operation-port-series.jpg");
    background-color: #0f020299;
    background-blend-mode: overlay;
    background-size: cover;
    text-align: center;

  }
  .banner-3 {
    height: 35rem;
    padding: 9rem 3rem !important;
    background-image: url("../images/aerial-view-cargo-ship-cargo-container-harbor\ \(1\).jpg");
    background-color: #0f020299;
    background-blend-mode: overlay;
    background-size: cover;
    text-align: center;

  }
  .banner-right {
    background-color: #002d4b;
    padding: 2rem 2.5rem;
    height: 28rem;
  }
  .tittle {
    font-size: 3.5rem;
    color: white;
    text-decoration: none;
  }
  .learn-more-btn {
    padding: 0.7rem;
    color: white;
    border: none;
    background-color: rgb(177, 30, 30);
    
    border-radius: 0.3rem;
  }
  .b-right-h {
    color: white;
  }
  .b-right-p {
    color: rgb(169, 168, 168);
    font-size: 1.2rem;
    line-height: 2rem;
  }
  .carousel-inner {
    position: relative !important;
  }
  .pre-btn,
  .next-btn {
    position: absolute;
    top: 57rem;
  }
  .pre-btn {
    left: 75% !important;
  }
  .next-btn {
    right: 0;
  }
  /* about section styling */
  .about-section {
    padding: 5rem 0;
    background-color: #fcf8f2;
  }

  .about-left {
    display: flex;
    flex-direction: column;
    /* gap: 1rem; */
    position: relative;
  }
  
  .about-right {
    padding-top: 3rem;
    flex-direction: column;
    justify-content: center;
  }
 
  .about-title {
    color: #002d4b;
    text-align: center !important;
  }
  .about-p {
    color: grey;
    margin-top:1rem;
    text-align: center;
  }
  .about-b{
    text-align: center !important;
    font-weight: bold;
  }

  /* vision section style */

  .vision-2{
    background-color: #002d4b;
    border-top-right-radius: 3rem;
    border-top-left-radius: 3rem;
   }

  .vision-wrap {
    padding: 1rem;
    background: white;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
      rgba(17, 17, 26, 0.1) 0px 0px 8px;
    margin-top: 1.5rem;
  }
  .vision-img{
    width: 100% !important;
  }
  .v-wrap {
    display: flex;
    flex-direction: column;
  }
  /* why section styling */
  .why-section {
    background-image: url("../images/pexels-tom-fisk-3338019.jpg");
    background-size: cover;
    background-color: rgba(12, 10, 10, 0.884);
    background-blend-mode: overlay;
    background-position: center;
  }

  .why-h {
    color: white;
    text-align: center;
    margin-bottom: 1.5rem;
  }
  .why-p {
    color: white;
    text-align: center;
  }
  /* provision section styling */
 .ps-1{
  background-image: url('../images/pexels-umaraffan499-87236.jpg');
  background-size: cover;
  height: 20rem !important;
  
 }
 .ps-2{
  background-image: url('../images/container-operation-port-series.jpg');
  background-size: cover;
  height: 50vh;
 }
 .ps-writeups h1{
  font-size: 1.5rem !important;
 }
 .ps-writeups p{
  font-size: 1.1rem !important;
 }
  /* service section */
  .service-section {
    background-color: #fcf8f2;
  }
  .service {
    background-color: white;
    padding: 1rem;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
      rgba(17, 17, 26, 0.1) 0px 0px 8px;
    margin: 1.5rem;
  }
  .service svg {
    border: 2px solid #ffbb33;
    padding: 1rem;
    border-radius: 50%;
    color: white;
    background-color: #ffbb33;
    height: 2rem;
    width: 2rem;
    align-items: center;
    justify-content: center;
  }
  .service-w {
    display: flex;
    flex-direction: column;
  }
  .service-sub {
    font-size: 1.5rem;
    text-align: center;
  }
  .service-list {
    align-items: start !important;
    justify-content: start;
  }
  .service-writeups {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .round {
    width: 2rem;
    height: 2rem;
  }
  .service-pre-btn,
  .service-next-btn {
    position: absolute;
    top: -5%;
    background-color: #002d4b !important;
  }
  .service-pre-btn {
    left:19rem !important;
  }
  .service-next-btn {
    right: 0;
  }
  /* write up design */
  .write-up-list {
    list-style-type: none !important;
    line-height: 2rem;
  }
  .write-up-img {
    border-radius: 50%;
    border: 3px solid #ffbb33;
    margin-bottom: 2rem;
  }
  .write-up-sec {
    background-color: #002d4b;
  }

  /* contact styling */
  .contact-wrap svg {
    height: 1rem;
    width: 1rem;
    padding: 0.6rem;
    border-radius: 50%;
    color: rgb(177, 30, 30);
    border: 2px solid rgb(177, 30, 30);

  }
  .mobile-right a {
    color: grey;
    text-decoration: none;
    margin-left: 1rem;
  }
  .contact-l{
    padding: 2rem;
  }
  iframe {
    margin-top: 2rem;
  }
  /* footer styling */
  .footer {
    background-color: #002d4b;
  }
  .link-ul,
  .link-wrap a {
    text-decoration: none;
    list-style-type: none !important;
    color: white;
    font-size: 1.2rem;
  }
  .ft {
    margin-top: 2.5rem;
  }
  .works{
    background-image: url('../images/industrial-port-container-yard.jpg');
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    background-color: #030f1b;
    background-attachment: fixed;

  }
}
/* desktop view */
@media screen and (min-width: 768px) {
  svg{
    height: 2rem !important;
  }
  /* loading */
  .load-img {
    width: 15rem;
    height: 15rem;
    object-fit: cover;
  }
  /* header styling */
  
  .nav-link{
    color: #4581b5 !important;
    font-weight: 500;
    font-size: 1.2rem;
  }
  
  .mobile-nav {
    display: none;
  }
  
  .subscribe-btn {
    padding: 0.5rem;
    background-color: rgb(177, 30, 30);
    border: none;
    color: white;
    font-size: 1.1rem;
  }
  .dropdown-menu {
    font-size: 0.9rem;
  }
  
  /* hero-section styling */

  .banner-1 {
    height: 40rem;
    padding: 8rem 5rem !important;
    background-image: url("../images/pexels-umaraffan499-87236.jpg");
    background-color: #0f020299;
    background-blend-mode: overlay;
    background-size: cover;
    background-position: center;
  }

  .banner-2 {
    height: 40rem;
    padding: 8rem 5rem !important;
    background-image: url("../images/container-operation-port-series.jpg");
    background-color: #0f020299;
    background-blend-mode: overlay;
    background-size: cover;
  }
  .banner-3 {
    height: 40rem;
    padding: 8rem 5rem !important;
    background-image: url("../images/aerial-view-cargo-ship-cargo-container-harbor\ \(1\).jpg");
    background-color: #0f020299;
    background-blend-mode: overlay;
    background-size: cover;
  }
  .banner-right {
    background-color: #002d4b;  
    /* background-color: #f85d51; */
    padding-top: 1.5rem;
    padding: 4rem 2.5rem;
    height: 40rem !important;
    
  }
  .tittle {
    font-size: 4rem;
    color: white;
    text-decoration: none;
  }
  .learn-more-btn {
    padding: 0.7rem;
    color: white;
    border: none;
    border-radius: .3rem;
    background-color: rgb(177, 30, 30);
  }

  .b-right-h {
    color: white;
  }
  .b-right-p {
    color: rgb(169, 168, 168);
    font-size: 1.2rem;
    line-height: 2rem;
  }
  .carousel-inner {
    position: relative !important;
  }
  .pre-btn,
  .next-btn {
    position: absolute;
    top: 85%;
    height: 2rem;
    width: 3rem !important;
  }
  .pre-btn {
    left: 80% !important;
  }
  .next-btn {
    right: 10%!important; 
  }
  /* about section styling */
  .about-section {
    padding: 5rem 0;
    padding-bottom: 6rem !important;
    background-color: #fcf8f2;
     .about-section{
    height: 40rem !important;
  }
  }
  .about-b{
    font-weight: bold;
  }
  .about-left {
    display: flex;
    gap: 1rem;
    position: relative;
  }
  .main-img {
    position: absolute;
  }
  .sub-img {
    position: absolute;
    width: 50%;
    right: 3rem;
    height: 20rem;
    top: 7rem;
  }
  .about-right {
    padding-top: 3rem;
  }

  .about-small {
    font-size: 1rem;
    color: #ffbb33;
  }
  .about-title {
    color: #002d4b;
  }
  .about-p {
    color: grey;
    font-size: 1.1rem;
  }

  /* vision section style */
  .vision-section {
    padding: 6rem 0;
    height: 80vh;
  }
 .vision-2{
  background-color: #002d4b;
  border-top-right-radius: 3rem;
  border-top-left-radius: 3rem;
 }
  .vision-wrap {
    padding: 1rem;
    background: white;
   
      height: 20rem;
  }
  .v-wrap {
    display: flex;
  }
  /* why section styling */
  .why-section {
    background-image: url("../images/pexels-tom-fisk-3338019.jpg");
    background-size: cover;
    background-color: rgba(14, 0, 0, 0.884);
    background-blend-mode: overlay;
    background-position: center;
  }

  .why-h {
    color: white;
    font-size: 4rem !important;
  }
 .why-ul li{
  margin: 1rem 0;
 }
 /* provision section styling */
 .ps-1{
  background-image: url('../images/pexels-umaraffan499-87236.jpg');
  background-size: cover;
  height: 30rem;
 }
 .ps-2{
  background-image: url('../images/container-operation-port-series.jpg');
  background-size: cover;
  height: 30rem;
 }
 .ps-writeups h1{
  font-size: 2.5rem !important;
 }
 .ps-writeups p{
  font-size: 1.1rem !important;
 }
  /* service section */
  .service-section {
    background-color: #fcf8f2;
  }
  .service {
    background-color: white;
    padding: 1rem;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
      rgba(17, 17, 26, 0.1) 0px 0px 8px;
      
  }
  .service svg {
    border: 2px solid #ffbb33;
    padding: 1rem;
    border-radius: 50%;
    color: white;
    background-color: #ffbb33;
    height: 2rem;
    width: 2rem;
    align-items: center;
    justify-content: center;
  }
  .service-sub {
    font-size: 1.5rem;
    text-align: center;
  }
  .service-list {
    align-items: start !important;
    justify-content: start;
  }
  .service-writeups {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .round {
    width: 2rem;
    height: 2rem;
  }
  .service-pre-btn,
  .service-next-btn {
    position: absolute;
    top: -13%;
    background-color: #002d4b !important;
  }
  .service-pre-btn {
    left: 93% !important;
  }
  .service-next-btn {
    right: 0;
  }

  /* write up design */
  .write-up-list {
    list-style-type: none !important;
    line-height: 2rem;
  }
  .write-up-img {
    border-radius: 50%;
    border: 3px solid rgb(177, 30, 30);
  }
  .write-up-sec {
    background-color: #002d4b;
    width: 100%;
  }
  .write-li {
    list-style-type: none;
  }
  /* contact styling */
  .contact-wrap svg {
    height: 2rem;
    width: 2rem;
    /* border: 3px solid #ffbb33; */
    border: 2px solid rgb(177, 30, 30);
    padding: 0.6rem;
    border-radius: 50%;
    color: rgb(177, 30, 30);
  }
  .contact-l{
    padding-left: 4rem !important;
  }
  .mobile-right a {
    color: grey;
    text-decoration: none;
  }
  /* footer styling */
  .footer {
    background-color: #002d4b;
  }
  .link-ul,
  .link-wrap a {
    text-decoration: none;
    list-style-type: none !important;
    color: white;
    font-size: 1.2rem;
  }
  .works{
    background-image: url('../images/industrial-port-container-yard.jpg');
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    background-color: #030f1b;
    background-attachment: fixed;

  }
}
@media screen and (max-width: 280px) {
  .navbar {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    padding: 0 1rem;
  }
  .banner-1 {
    height: 40rem;
    padding: 8rem 2rem !important;
    background-image: url("../images/pexels-alexander-bobrov-3278012.jpg");
    background-color: #01050399;
    background-blend-mode: overlay;
    background-size: cover;
  }
  .banner-2 {
    height: 40rem;
    padding: 8rem 2rem !important;
    background-image: url("../images/dredger-2431190_1920.jpg");
    background-color: #01050399;
    background-blend-mode: overlay;
    background-size: cover;
  }
  .banner-3 {
    height: 40rem;
    padding: 8rem 2rem !important;
    background-image: url("../images/pexels-tom-fisk-3338019.jpg");
    background-color: #01050399;
    background-blend-mode: overlay;
    background-size: cover;
  }
  .banner-right {
    background-color: #002d4b;
    padding: 1rem 2.5rem;
    height: 35rem;
  }
  .tittle {
    font-size: 3rem;
    color: white;
    text-decoration: none;
  }
  .service-pre-btn {
    left: 70% !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
    /* Tablet-specific fixes */
    .tab-hero{
      display: flex !important;
      flex-direction: column !important;
    }
    .navbar-nav {
    width: 100% !important;
  }
   .nav-item {
    text-align: center;
    padding: 0.5rem;
    border-bottom: 1px solid gray;
  }
  .subscribe-btn {
    padding: 0.5rem;
    background-color: rgb(177, 30, 30);
    border: none;
    color: white;
    font-size: 1.1rem;
    width: 100%;
    
  }
    .banner-1,.banner-2,.banner-3{
      width: 100% !important;
    }
    .banner-right{
      width: 100% !important;
  height: 25rem !important;
    }
     .pre-btn,
  .next-btn {
    position: absolute;
    top: 95%;
    height: 2rem;
    width: 3rem !important;
  }
  .tab-about{
    display: flex !important;
    flex-direction: column !important;
  }
  .about-left,.about-right{
    width: 100% !important;
  }
  .about-section{
    height: 40rem !important;
  }
  .vision-wrap {
      height: 25rem;
  }
  .service-pre-btn,
  .service-next-btn {
    top: -3rem;
  }
  .service-pre-btn {
    left: 39rem !important;
  }
  .service{
    width: 100%;
    height: 20rem !important;
  }
   .ps-1{
  background-image: url('../images/container-operation-port-series.jpg');
  background-size: cover;
  height: 30rem !important;
  padding: 0;
 }
 .ps-2{
  background-image: url('../images/container-operation-port-series.jpg');
  background-size: cover;
  height: 35rem !important;
  padding: 0;

 }
 .provision-section {
  padding: 0 !important;
 }
 .work svg{
  height: 1rem !important;
 }
 /* about page styling  */
 .about-left {
    display: flex;
    flex-direction: column !important;
    /* gap: 1rem; */
    position: relative;
    height: 30rem;
  }
  .main-img {
    position: absolute;
  }
  .sub-img {
    position: absolute;
    width: 26rem !important;
    right: 3rem;
    height: 20rem;
    top: 6rem !important;
  }
}
